/*Main.html*/
/*Nav Bar*/
nav{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #433E3B;
}
nav ul li a{
   text-decoration: none;
    color: white;
}
nav a:hover{
  text-decoration: none;
}
nav ul a:hover {
  color: white;
}
a{
    text-decoration: none;
    color: white;
}
a:active{color: white;}

/*Nav Bar End*/

.main {
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.main-container {
  height: 90.3vh;
  width: 100%;
  background: url("../../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid transparent;
  text-align: center;
  color: #ecf0f1;
  font-weight: 100;
}

#welcome {
  font-size: 3.5em;
}

#to {
  font-size: 1.5em;
}

#company-name {
  font-size: 5em;
  font-weight: 300;
}

#reviews {
  height: 50vh;
  background-color: #e74c3c;
}
#reviews .carousel-slider {
  height: 50vh;
}
#reviews .carousel-fixed-item {
  color: white;
}
#reviews .review-content {
  padding-top: 10%;
}
#reviews p {
  width: 50em;
  margin: auto;
}

#section2 {
  height: 100vh;
  background-color: #e67e22;
}

#section2 .slick-carousel{
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
#section2 h3{
  /*font-size:15px;*/
  transform: rotate(350deg);
  text-decoration: underline;
  color: white; 
}

#section3 {
  height: 100vh;
  background-color: #2980b9;
}

#section3 .slick-carousel{
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

/*Main.html end*/
.upload_button {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(15, 97, 172);
    color: #fff;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100px;
    height: 32px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

/*.arrow_button{
    background-color: aquamarine;
}*/

.upload_button_holder .upload_button {
    display: block;
} 

.upload_button:hover {
    background-color: rgb(17, 133, 240);
}

.view-product{
  text-align: center;
}

.productImage{
  margin: 5px;
}

.productImage p, .newImage p {
  color:white;
  font-style: italic;
  font-size: 15px;
  text-align: center;
}

.products-page{
  background-color: #bdc3c7;
}

.products-heading{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

.buy{
  margin-top: 20px;
  width:100%;
  border: 2px solid black;
}
.buy h5{
    width:150px;
    margin-top:-10px;
    margin-left:5px;
    background:white;
}