/*Main.html*/
/*Nav Bar*/

body{
  font-family: 'Lato', sans-serif !important;
}

nav{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #2A2924;
}

.side-menu-caret{
  float: right !important;
}

.dropdown-menu >li > a{
  text-transform: capitalize;
}

.nav-anchor, nav-anchor:hover, nav-anchor:active, nav-anchor:visited {
  text-decoration: none !important;
  color: white !important;
}

.mobile-links{
  color: black !important;
}

.about{
  font-family: 'Lato', sans-serif;
}
.about-abc{
  font-weight: 300;
}

.about p{
  font-weight: 100;
  margin: 2em;
}

/*Nav Bar End*/

.main {
  /*height: 100vh;*/
  font-family: 'Lato', sans-serif;
}

#company-name {
  font-size: 5em;
  font-weight: 300;
}

#reviews .carousel-slider {
  height: 50vh;
}
#reviews .carousel-fixed-item {
  color: white;
}
#reviews .review-content {
  padding-top: 7%;
}
#reviews p {
  width: 50em;
  margin: auto;
}

#section2 {
  /*height: 100vh;*/
  background-color: #e67e22;
}

#section2 h3{
  margin: 0px;
  text-align: center;
  color: white; 
  font-weight: 300;
}

#section3 {
  /*height: 100vh;*/
  background-color: #2A2924;
}

#section3 .slick-prev{
  left: 0px;
}

#section3 .slick-next{
  right: 0px;
}


#section3 h3{
  margin: 0px;
  text-align: center;
  color: white; 
  font-weight: 300;
}

.page-footer {
  margin: 0px !important;
}

.footer-icons{
  margin-left: 25px;
}

/*Main.html end*/
.upload_button {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(15, 97, 172);
    color: #fff;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100px;
    height: 32px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

/*.arrow_button{
    background-color: aquamarine;
}*/

.upload_button_holder .upload_button {
    display: block;
} 

.upload_button:hover {
    background-color: rgb(17, 133, 240);
}

.view-product{
  text-align: center;
}

.productImage{
  margin: 5px;
}

.newImage{
  margin: 5px;
}

.productImage p, .newImage p {
  color:white;
  font-style: italic;
  font-size: 15px;
  text-align: center;
}

.products-page{
  background-color: #bdc3c7;
}

.products-heading{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

.top-image{
  margin: auto;
}

label{
  font-weight: 300;
}

.contact-address{
  font-weight: 300;
}

.contact-div{
  /*font-family: 'Lato', sans-serif;*/
  font-weight: 300;
}

.buy-button{
  position: inherit;
}

.buy{
  margin-top: 20px;
  width:100%;
  border: 2px dotted black;
}
.buy h5{
/*  width: 10em;
  margin-top: -10px;
  margin-left: 12.3em;*/
  background: white;
  font-weight: 300;
  text-align: center;
}

/*single product css*/

.detailProduct{
  margin-top: 50px;
}
.productDetail{
  height:400px;
  position: relative;
}
.productDetail .buyProduct{
  /*position: relative;*/
  /*bottom: 0;*/
}
.productDetail .buyProduct a{
  right:0;
}

.faq-heading{
  text-align: center;
}

.faq-heading h2{
  font-weight: 100;
}

.collapsible-header{
  color: #E74C3C;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #company-name {
    font-size: 4em;
  }
  #reviews .carousel-slider {
    height: 50vh;
  }
  #reviews .carousel-fixed-item {
    color: white;
  }
  #reviews .review-content {
    padding-top: 20%;
  }
  #reviews p {
    width: 24em;
    margin: auto;
  }

  #section2{
    display: none;
  }

  #Mobile {
    /*height: 100vh;*/
    background-color: #e67e22;
  }

  #Mobile h3{
    margin: 0px;
    text-align: center;
    color: white; 
    font-weight: 300;
  }

  .about-abc{
    font-weight: 300;
    font-size: 1em;
    text-align: center;
  }
}

@media only screen and (min-width: 800px) {

  #Mobile{
    display: none;
  }
}


