<!doctype html>
<html>
  <head>
    <!-- <base href="/index.html"> -->
    <meta charset="utf-8">
    <title>ABC Kids World</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="../images/favicon.ico">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/ez-plus/css/jquery.ez-plus.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://use.fontawesome.com/9e23a2b579.js"></script>
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- endbuild -->
  </head>
  <body ng-app="abckidsworldApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" ng-controller="ProductsCtrl">
      <div>
        <nav>
          <div class="nav-wrapper">
            <a class="nav-anchor brand-logo" href="#/">
              ABC Kids World
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="nav-anchor" href="#/about">About Us</a></li>
              <li class="dropdown">
                <a id="dLabel" class="nav-anchor dropdown-toggle" data-toggle="dropdown">Products</a>

                <!-- dropdown -->
                <ul class='dropdown-menu' aria-labelledby="dLabel">
                  <li ng-repeat="category in allCategories">
                    <a ng-href="#/products/{{category.$id}}">
                      {{category.name}}
                    </a>
                  </li>
                </ul>
              </li>
              <li><a class="nav-anchor" href="#/contact">Contact Us</a></li>
              <li><a class="nav-anchor" href="#/faq">FAQ</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a class="nav-anchor mobile-links" href="#/about">About Us</a></li>
              <!-- <li><a class="nav-anchor mobile-links" href="#/products" >Products</a></li> -->
              <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <li>
                  <a class="collapsible-header">Products<i class="material-icons side-menu-caret">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                      <ul>
                        <li ng-repeat="category in allCategories">
                          <a ng-href="#/products/{{category.$id}}">
                            {{category.name}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li><a class="nav-anchor mobile-links" href="#/contact">Contact Us</a></li>
              <li><a class="nav-anchor mobile-links" href="#/faq">FAQ</a></li>
            </ul>
          </div>
        </nav>
      </div> <!-- /#navigation13 -->
    </div>

    <div ng-view="" autoscroll="true"></div>
      
    <div class="footer">
      <footer class="page-footer">
          <div class="container">
            <div class="row">
              <nav>
                <div class="nav-wrapper">
                  <a href="#" class="right"></a>
                  <ul id="nav-mobile" class="left">
                    <li><a class="nav-anchor" href="#/">Home</a></li>
                    <li><a class="nav-anchor" href="#/about">About Us</a></li>
                    <li><a class="nav-anchor" href="#/contact">Contact Us</a></li>
                    <li><a class="nav-anchor" href="#/faq">FAQ</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright ABCKIDSWORLD
            <a class="grey-text text-lighten-4 right footer-icons" href="#!"><i class="fa fa-twitter fa-3" aria-hidden="true"></i></a>
            <a class="grey-text text-lighten-4 right footer-icons" href="#!"><i class="fa fa-facebook fa-3" aria-hidden="true"></i></a>
            <a class="grey-text text-lighten-4 right footer-icons" href="#!"><i class="fa fa-linkedin fa-3" aria-hidden="true"></i></a>
            </div>
          </div>
        </footer>    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/cloudinary-core/cloudinary-core.js"></script>
    <script src="bower_components/cloudinary_ng/js/angular.cloudinary.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ez-plus/src/jquery.ez-plus.js"></script>
    <script src="bower_components/angular-ez-plus/js/angular-ezplus.js"></script>
    <script src="bower_components/angular-slick/dist/slick.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/uploadproducts.js"></script>
        <script src='scripts/config.js'></script>
        <script src="scripts/services/productservice.js"></script>
        <script src="scripts/controllers/remove.js"></script>
        <script src="scripts/controllers/products.js"></script>
        <script src="scripts/controllers/viewproduct.js"></script>
        <script src="scripts/directives/ngelevatezoom.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/faq.js"></script>
        <script src="scripts/controllers/abckidsworld/category.js"></script>
        <!-- endbuild -->
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-slick-carousel/3.1.7/angular-slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="http://www.elevateweb.co.uk/wp-content/themes/radial/jquery.elevatezoom.min.js" type="text/javascript"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBZlCekuFf_NaDUOX89YBPqtPCNGylHpKc",
        authDomain: "abckidsworld-ca12b.firebaseapp.com",
        databaseURL: "https://abckidsworld-ca12b.firebaseio.com",
        storageBucket: "abckidsworld-ca12b.appspot.com",
        messagingSenderId: "809966543580"
      };
      firebase.initializeApp(config);
    </script>

    <script>
      $(document).ready(function(){
        $('.button-collapse').sideNav({
          closeOnClick: true,
          draggable: true 
        });
        $('.dropdown-toggle').dropdown()
      })
    </script>
</body>
</html>
