<div class="container-fluid about">
  <div class="row">
    <h3 class="about-abc">About ABC Kids World</h3>
    <p>
      ABC Kids World entered the world of manufacturing educational products in the year 2011.
    </p>
    <p>
      Thinking out of the Box and their creative smart work gave a Beautiful result. The company has its own reputation under creative educational aids.    
    </p>

    <p>
      The company makes a wide variety of products. Products like Balancing Beam, Hollow Tower, Learn 'N' Count and so on.
    </p>
    <p>
      The Products are made in such a way that:
    </p>
    <p>
      1. Child will be enthusiastic, strategic, and eager and use their creativity, imagination beyond the expectation levels.
    </p>
    <p>
      2. Way of teaching to them in the way they feel easy and making them optimistic.
    </p>
    <p>
      3. Child will have a gratifying experience and love what they are learning.
    </p>
    <p>
      4. Help child to improve his concentration, co-ordination, independence and problem solving.
    </p>
    <p>
      We genuinely believe in pure enhancement of life skills that will prepare your child for a lifelong love of learning. Children need products that have a purpose, durable, and are attractive. Quality over quantity is important when choosing Products. It shows respect for the children and their ability to respect their belongings.
    </p>
    <p>
      All the products are manufactured under strict quality control and are child safe & user friendly. We are a socially aware, professional company that value children. We take pride in our products at ABC Kids World. We hope you and your children enjoy our selection of educational Products.
    </p>
    <p>
      ABC Kids World would like to have interaction with the people in the field of education to develop new innovative ideas and products.
    </p>
  </div>

</div>