<div class="container-fluid about">
  <div class="row">
    <h3 class="about-abc">About us</h3>
    <p>
    ABC Kids World (An ISO 9001: 2008 certied company) runs on a traditional business
    model and is based on the accomplishment of Play School Equipments and Furniture.
    </p>
    <p>
      It has been established by <b>Mr.Suresh Sabinkar</b> in Hyderabad, India. He has been
consistently working in this business domain past two decades and delivering all our
quality, innovative and reliable learning products at affordable prices.
    </p>

    <p>
      Our Vision is:
    </p>
    <p>
      1. To provide Quality Services that exceeds the expectations of our highly Esteemed Clients
    </p>
    <p>
      2. To treat Clients with Respect and Faith.
    </p>
    <p>
      3. To build long term relationships with our Clients and provide Exceptional Client
Services.
    </p>
    <p>
      4. To grow through Creativity, Innovation and Design.
    </p>
    <p>
      5. To make learning exciting and fun.
    </p>
  </div>

</div>