<div class="container" id="faq">
  <div class="row">
    <div class="faq-heading">
      <h2>Frequently Asked Questions</h2>
    </div>
    <div>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">1. This is my First  FAQ Question ? </div>
          <div class="collapsible-body"><div class="container-fluid">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</div></div>
        </li>
        <li>
          <div class="collapsible-header">2. This is my Second FAQ Question ?</div>
          <div class="collapsible-body"><div class="container-fluid">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</div></div>
        </li>
        <li>
          <div class="collapsible-header">3. This is my Third FAQ Question ?</div>
          <div class="collapsible-body"><div class="container-fluid">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</div></div>
        </li>
        <li>
          <div class="collapsible-header">4. This is my Fourth FAQ Question ?</div>
          <div class="collapsible-body"><div class="container-fluid">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</div></div>
        </li>
        <li>
          <div class="collapsible-header">5. This is my Fifth FAQ Question ?</div>
          <div class="collapsible-body"><div class="container-fluid">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</div></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

</script>