<div class="row products-page">
  <h2 class="products-heading">Products</h2>
  <!-- <div class="col s12 m12">
    <a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Select a Category</a>
    <ul id='dropdown1' class='dropdown-content'>
      <li ng-repeat="category in allCategories"><a ng-click="categoryClicked(category)">{{category.name}}</a></li>
    </ul>
  </div> -->
  <!-- <div class="row">
    <div id="default">
      <div style="font-size: 1.5em;">Showing all the products</div>
      <div class="col s12 m4" ng-repeat="product in myProducts">
        <div class="card large">
          <div class="card-image">
            <img ng-src="{{product.imageUrl}}">
            <span class="card-title">{{product.name}}</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn view-product" ng-click="viewProduct(product.$id)">View Product</a>
          </div>
        </div>
      </div>
    </div> -->
    <div id="test1" class="col s12">
      <!-- <div style="font-size: 1.5em;">Showing products for category: {{clickedCategory}}</div> -->
      <div class="col s12 m4" ng-repeat="product in categoryProducts">
        <div class="card large">
          <div class="card-image">
            <img ng-src="{{product.imageUrl}}">
          </div>
          <div class="card-content">
            <span class="card-title">{{product.name}}</span>
            <p>{{product.description}}</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn view-product" ng-click="viewProduct(product.$id)">View Product</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  $('ul.tabs').tabs();
  $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'center' // Displays dropdown with edge aligned to the left of button
    }
  );
</script> -->