<div class="row products-page" ng-init="getCategories()">
  <h2 class="products-heading">Products</h2>
  <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s1" ng-repeat="category in allCategories"><a ng-href="#{{category.$id}}" ng-click="categoryClicked(category.$id)">{{category.name}}</a></li>
        <!-- <li class="tab col s3"><a href="#test1">Test 1</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab col s3"><a href="#test3">Test 3</a></li>
        <li class="tab col s3"><a href="#test4">Test 4</a></li> -->
      </ul>
    </div>
    <div id="default" ng-if="loaded">
      Please select a category to view products.
    </div>
    <div id="test1" class="col s12">
      <div class="col s12 m4" ng-repeat="product in categoryProducts">
        <div class="card large">
          <div class="card-image">
            <img ng-src="{{product.imageUrl}}">
            <span class="card-title">{{product.name}}</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn view-product">View Product</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('ul.tabs').tabs();
</script>