<div class="container" id="uploadProduct">
<h2>upload your product</h2>
    <form ng-submit="updateProduct()">
        <div class="row">
            <div class="col-md-4">
                <md-input-container>
                <label>Name</label>
                <input ng-model="details.name">
              </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <md-input-container>
                <label>Description</label>
                <textarea name="" ng-model='details.description'></textarea>
              </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <md-input-container>
                <label>Dimensions</label>
                <textarea name="" ng-model='details.dimensions'></textarea>
              </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <md-input-container>
                <label>Price</label>
                   <input type="number" ng-model='details.price'>
              </md-input-container>
            </div>
            <div class="col-md-4">
                <md-input-container>
                <label>Product Code</label>
                   <input type="text" ng-model='details.product_code'>
              </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div href="#" class="upload_button" ngf-select="uploadProduct($files)" multiple title="upload" resetOnClick="true" >Upload</div>
                <p>*<i>Note:</i> Main Product Image</p>
            </div>
            <div class="col-md-4">
                <div href="#" class="upload_button" ngf-select="uploadOtherProducts($files, 1)" multiple title="upload" resetOnClick="true" >Upload</div>
                <p>*Product Image 1</p>
            </div>
            <div class="col-md-4">
                <div href="#" class="upload_button" ngf-select="uploadOtherProducts($files, 2)" multiple title="upload" resetOnClick="true" >Upload</div>
                <p>*Product Image 2</p>
            </div>
            <div class="col-md-4">
                <div href="#" class="upload_button" ngf-select="uploadOtherProducts($files, 3)" multiple title="upload" resetOnClick="true" >Upload</div>
                <p>*Product Image 3</p>
            </div>
            <div class="col-md-4">
                <div href="#" class="upload_button" ngf-select="uploadOtherProducts($files, 4)" multiple title="upload" resetOnClick="true" >Upload</div>
                <p>*Product Image 4</p>
            </div>
            <div class="col-md-4">
                <div href="#" class="upload_button" ngf-select="uploadOtherProducts($files, 5)" multiple title="upload" resetOnClick="true" >Upload</div>
                <p>*Product Image 5</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <md-input-container>
                <label>Categories</label>
                   <md-select ng-model="details.myCategories">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="state in categories" ng-value="state.$id">
                      {{state.name}}
                    </md-option>
                  </md-select>
              </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <md-input-container>
                    <label>TopProducts</label>
                    <md-select ng-model="details.topProduct" ng-change="CheckUploadImage(details.topProduct)">
                        <md-option ng-value="'true'">true</md-option>
                        <md-option ng-value="'false'">false</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-md-4" ng-if="details.topProduct == 'true'">
                <div href="#" class="upload_button" ngf-select="uploadTopProduct($files)" multiple title="upload" resetOnClick="true" >Upload</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <md-input-container>
                    <label>NewProducts</label>
                    <md-select ng-model="details.newProduct" ng-change="CheckUploadImage(details.newProduct)">
                        <md-option ng-value="'true'">true</md-option>
                        <md-option ng-value="'false'">false</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-md-4" ng-if="details.newProduct == 'true'">
                <div href="#" class="upload_button" ngf-select="uploadNewProduct($files)" multiple title="upload" resetOnClick="true" >Upload</div>
            </div>
        </div>
        <input ng-disabled="checkImage" type="submit" class="btn btn-success" value="Submit" />
    </form>
</div>