
<div class="container product-laptop-view">
  <div class="row detailProduct">
    <div class="col-md-7">
    <div class="mainImage">
      <img class="img-responsive" ng-elevate-zoom zoom-image="{{detail.imageUrl}}" ng-src="{{smallImage}}" alt="">
    </div>
    <div class="subImage">
      <a href="" class="elevatezoom-gallery"><img ng-click="changeProductImage(1)" ng-src="{{smallProductImage1}}" alt="" width="100"></a>
      <a href="" class="elevatezoom-gallery"><img ng-click="changeProductImage(2)" ng-src="{{smallProductImage2}}" alt="" width="100"></a>
      <a href="" class="elevatezoom-gallery" ><img ng-click="changeProductImage(3)" ng-src="{{smallProductImage3}}" alt="" width="100"></a>
      <a href="" class="elevatezoom-gallery"><img ng-click="changeProductImage(4)" ng-src="{{smallProductImage4}}" alt="" width="100"></a>
      <a href="" class="elevatezoom-gallery"><img ng-click="changeProductImage(5)" ng-src="{{smallProductImage5}}" alt="" width="100"></a>
    </div>
    </div>
    <div class=" col-md-5 productDetail">
      <h4>{{detail.name}}</h4>
      <p><b><i>Product Code:</i></b> {{detail.product_code}}</p>
      <p><b><i>Description:</i></b> {{detail.description}}</p>
      <p><b><i>Dimensions:</i></b> {{detail.dimensions}}</p>
      <div class="buyProduct">
        <h5>Price: &#8377; {{detail.price}}</h5>
        <a class="waves-effect waves-light btn buy-button" ng-click="buyProduct(detail.$id)"><i class="material-icons left">shopping_basket</i>Buy</a
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container product-mobile-view">
  <div class="row detailProduct">
    <div class="col-md-7">
    <img class="img-responsive materialboxed" ng-src="{{smallImage}}" alt="productImage">
    </div>
    <div class="col-md-5 productDetail">
      <h4>{{detail.name}}</h4>
      <p><b><i>Product Code:</i></b> {{detail.product_code}}</p>
      <p><b><i>Description:</i></b> {{detail.description}}</p>
      <p><b><i>Dimensions:</i></b> {{detail.dimensions}}</p>
      <div class="buyProduct">
        <h5>Price: &#8377; {{detail.price}}</h5>
        <a class="waves-effect waves-light btn buy-button" href="#/contact"><i class="material-icons left">shopping_basket</i>Buy</a
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>